<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
</head>
<body>
    <ul>
        <li><a href="/company/">company info</a></li>
        <li> <a href="/mysite/">product</a></li>
        <li><a href="/productlist/">productlist</a></li>
        <li><a href="/productlist/detail/">상품 상세</a> </li>
        <li><a href="/brand/">brand</a> </li>
        <li><a href="/brand/ph/">brand_ph</a> </li>
        <li><a href="/brand/cs/">brand_cs</a></li>
        <li><a href="/login/">login</a></li>
          <li><a href="/login/signup/">signup</a></li>
          <li><a href="/login/password_reset/">password_reseet</a></li>
    </ul>

<h1>메인 페이지입니다.</h1>
</body>
</html>